//all colors
$mainColor: #000;
$colorBlack: #000;
$colorBorder: rgba(0, 0, 0, 0.3);
$colorWhite: #FFF;
$bgHeader: #FFF;
$bgFooter: #000;
$colorFooter: #FFF;
$colorFooterHover: #949494FF;
$colorGray: #434343;
$bgBody: #FFF;
$bgLove: linear-gradient(105deg, rgba(224, 147, 160, 0.46) -45.69%, #ECDDCE 120.92%);
$bgLinear: linear-gradient(105deg, rgba(224, 147, 160, 0.46) -45.69%, #ECDDCE 120.92%);
$bgLocationLinear: linear-gradient(105deg, rgba(224, 147, 160, 0.46) -45.69%, #ECDDCE 120.92%);
$bgLocationHover: rgba(217, 217, 217, 0.56);
$bgPeach: #ECDDCE;
$bgLocation: linear-gradient(105deg, #E093A0 -45.69%, #ECDDCE 120.92%);
$bgLocationCard: #ECDDCE;
$bgJobs: #ECDDCE;
$bgFranchise: #F4D8DD;
$inputText: #333;
$placeholderColor: #606060;

//burger menu color settings
$burgerIcon: #000000;
$burgerIconOpen: #000000;
$burgerMenuOpen: #F9F3F1;